header {           /*banner*/
  padding: 60px;
  background-image: url("images/banner-background3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  width: auto;
}
.container2 {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background: #242424;
  opacity: 85%;
}
h1 {
  font-family: Consolas, monospace;
  font-size: 125px;
  text-align: center;
  color: #eeeeee;
  font-stretch: ultra-condensed;
  font-weight: 100;
  background: url(images/banner-background3.jpg) no-repeat; /*making text transparent*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {       /*text container*/
  width: auto;
  height: auto;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  padding: 100px;
  background-color: #bcbcbc;
  color: #242424;
  font-family: Verdana, serif;
}


body {
  background-color: #efefef;
  margin: 0; /*removes body edge*/
}

/*colour scheme: banner white: #c1c1c1
                 text black: #242424
                 background black: #545454
 */